In [70]:
import glob
import csv
import pandas as pd
import os

sales_df = pd.read_csv('./sales_6food.csv',encoding = 'cp949')
store_df = pd.read_csv('./store_6food(개업율,폐업률).csv',encoding = 'cp949')

## sales_df -> 60496
## store_df -> 97684

In [24]:
# test_sales_df = pd.read_csv('./test_sales.csv',encoding = 'utf-8')
# test_store_df = pd.read_csv('./test_store.csv',encoding = 'utf-8')

In [26]:
# test_sales_df

In [28]:
# test_store_df

In [38]:
# inner_join = pd.merge(test_sales_df,test_store_df,on=['기준년','기준분기코드','상권구분코드','상권구분코드명','상권코드','상권코드명',
#                                                      '서비스업종코드','서비스업종코드명'])

In [42]:
# inner_join

In [43]:
# inner_join.to_csv('./inner_test.csv',encoding='cp949')

## inner 조인 (매출+점포)

In [71]:
inner_join = pd.merge(sales_df,store_df,on=['기준년','기준분기코드','상권구분코드','상권구분코드명','상권코드','상권코드명',
                                                     '서비스업종코드','서비스업종코드명'])

In [54]:
inner_join.to_csv('./inner_join.csv',encoding='cp949',index=False)

## 조인 (매점 + 인구)

In [72]:
df1 = pd.read_csv('./inner_join.csv',encoding='cp949')
df1.columns

Index(['기준년', '기준분기코드', '상권구분코드', '상권구분코드명', '상권코드', '상권코드명', '서비스업종코드',
       '서비스업종코드명', '당월매출금액', '당월매출건수', '주중매출금액', '주말매출금액', '남성매출금액', '여성매출금액',
       '10대매출금액', '20대매출금액', '30대매출금액', '40대매출금액', '50대매출금액', '60대이상매출금액',
       '주중매출건수', '주말매출건수', '남성매출건수', '여성매출건수', '점포수', '개업율', '폐업률'],
      dtype='object')

In [73]:
df2 = pd.read_csv('./2018~2020유동인구.csv')
df2=df2.rename(columns={'기준 년코드': '기준년'})
df2.columns

Index(['기준년', '기준분기코드', '상권구분코드', '상권구분코드명', '상권코드', '상권코드명', '총유동인구',
       '남성유동인구', '여성유동인구', '10대유동인구', '20대유동인구', '30대유동인구', '40대유동인구',
       '50대유동인구', '60대이상유동인구'],
      dtype='object')

In [74]:
inner_join = pd.merge(df1,df2,on=['기준년','기준분기코드','상권구분코드','상권구분코드명','상권코드','상권코드명'])

In [75]:
inner_join

,기준년,기준분기코드,상권구분코드,상권구분코드명,상권코드,상권코드명,서비스업종코드,서비스업종코드명,당월매출금액,당월매출건수,...,폐업률,총유동인구,남성유동인구,여성유동인구,10대유동인구,20대유동인구,30대유동인구,40대유동인구,50대유동인구,60대이상유동인구
0,2018,1,A,골목상권,1001001,천중로39길,CS100007,치킨전문점,176770341,7113,...,33,2788806,1282465,1506342,532345,335343,411597,389377,391858,728288
1,2018,1,A,골목상권,1001001,천중로39길,CS100003,일식음식점,59699885,820,...,0,2788806,1282465,1506342,532345,335343,411597,389377,391858,728288
2,2018,1,A,골목상권,1001001,천중로39길,CS100001,한식음식점,360259116,17084,...,0,2788806,1282465,1506342,532345,335343,411597,389377,391858,728288
3,2018,1,A,골목상권,1001001,천중로39길,CS100006,패스트푸드점,87010172,4161,...,0,2788806,1282465,1506342,532345,335343,411597,389377,391858,728288
4,2018,1,D,발달상권,1001122,여의도 시범아파트앞,CS100004,양식음식점,250726281,11935,...,0,213436,105865,107568,15494,25199,41460,38840,29835,62608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60271,2020,1,A,골목상권,1000380,동일로192길,CS100004,양식음식점,102105862,3229,...,40,1077848,533681,544165,164935,300788,142104,126508,131594,211919
60272,2020,1,A,골목상권,1000380,동일로192길,CS100006,패스트푸드점,212635079,17345,...,0,1077848,533681,544165,164935,300788,142104,126508,131594,211919
60273,2020,1,A,골목상권,1000380,동일로192길,CS100007,치킨전문점,352055825,14541,...,0,1077848,533681,544165,164935,300788,142104,126508,131594,211919
60274,2020,1,A,골목상권,1000175,답십리로64길,CS100001,한식음식점,538829577,22665,...,7,697453,335565,361887,80430,91667,122062,118290,114621,170382
60275,2020,1,A,골목상권,1000175,답십리로64길,CS100007,치킨전문점,124879476,7088,...,0,697453,335565,361887,80430,91667,122062,118290,114621,170382

In [76]:
inner_join.to_csv('./join_last(utf-8).csv',encoding='utf-8',index=False)

In [77]:
inner_join.to_csv('./join_last.csv',encoding='cp949',index=False)